CompileFlags:
  CompilationDatabase: .
  Remove:
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -mtext-section-literals
    - -mfix-esp32-psram-cache-issue
    - -mfix-esp32-psram-cache-strategy=memw
    - -fno-rtti
  Add:
    - -Wno-unknown-warning-option
    - -Wno-unused-command-line-argument

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - pp_file_not_found
